body {
  display: flex;
  flex-direction: row;
  margin: auto;
  background-color: #000;
  color: white;
  background-image: url(/images/stars.gif);

  font-family: Arial, Helvetica, sans-serif;
}

#wrapper {
}

.heading2 {
  font-size: 2em;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Courier New", Courier;

  font-size: xx-large;
  color: #0f0;
  text-align: center;
  text-shadow: 2px 4px 4px #6f6, 0px 0px 16px #ff00ff;
}

li img {
  width: 24px;
}

li {
  list-style-type: none;
  margin-bottom: 8px;
}

h1 {
  color: #8f8;
  font-size: 40px;
  box-shadow: 4px, 6px, #8f8, 20px;
}

#power {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

#power img {
  width: 64px;
}

main {
  padding: 0px 2px;
  max-width: 1000px;
}

aside,
header {
  flex: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* header {
  flex: 30%;
  position: absolute;
  left: 36px;
  transform: rotate(-2deg);
}
 */
#right-side {
  padding: 16px;
  background-color: #111;
  background: rgb(63, 94, 251);
  background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
  background-image: url(/images/bg-tile-1.png);
  height: fit-content;
  border-image: url(https://www.gifstop.com/images/borders/blueborder.gif) 30 round;
  border-style: solid;
  border-width: 10px;
}

a {
  color: #8f8;
}

a:visited {
  color: #6d6;
}

#mommies {
  color: #e6e6e6;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

#mommies h2 img {
  margin: 0 15px;
}

.mommy {
  display: inline-block;
  width: 30%;
  margin: 20px;
  padding: 15px;
  background-color: #111;
  border: 2px solid #ff00ff;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.mommy:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px #ff00ff;
}

.mommy img {
  width: 100%;
  margin-bottom: 10px;
}

.mommy h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #ff00ff;
}

.mommy p {
  font-size: 1em;
  color: #b3b3b3;
}

* {
  box-sizing: border-box;
}

.container {
  min-height: 100vh; /* Vollständige Höhe des sichtbaren Bereichs */
  display: flex;
  flex-direction: column;
  position: relative;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
